
# ============= #
# C/C++ Dev 	#
# ============= #
*.o
*.out
*.exe
# Sublime Text auto-files
*.sublime-project
*.sublime-workspace

# ============= #
# OS generated  #
# ============= #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============= #
# Miscellaneous #
# ============= #
*.log
